body {
  font-family: "Montserrat";
}

hr {
  color: #EAF6F6;
  border-style: dotted;
  border-width: 8px 0 0 0;
  width: 10%;
}

a {
      text-decoration:none;
   }

.icon {
  margin: 0 2% 0 0;
}

#header, #contact, #education, #skill, #footer {
  text-align: center;
}

/* Navigation Bar */
.navbar-brand {
  font-weight: 500;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Title section */
#header {
  background-color: #1fab89;
  color: #fff;
}

/* Profile section */
.profile {
  padding: 2% 15%;
}

.profile-img {
  border-radius: 100%;
  width: 100px;
  height: 125px;
  margin: 10px;
}

.profile-h2 {
  font-weight: 700;
}

.profile-p {
  font-weight: 500;
}

/* Contact section */
#contact {
  padding: 2% 10%;
  background-color: #62d2a2;
  color: black;
}

/* Tooltip */
#emaildetail, #phonedetail {
  border: 1px solid #ccc;
  display: none;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px;
  font-weight: 700;
}

#iconhover:hover #emaildetail {
  display: block;
}

#iconhover:hover #phonedetail {
  display: block;
}

/* Tooltip */
/* Education */
#education {
  padding: 3% 15%;
  background-color: #9df3c4;
}

.education-h3 {
  padding-bottom: 3%;
  font-weight: 700;
}

.edu-item {
  margin: 1% 0;
}

/* Experiences */
#experience {
  padding: 3% 15%;
  background-color: #d7fbe8;
}

.companyName, .exp-h3, .role {
  font-weight: 700;
  padding-top: 2%;
}

.exp-h3 {
  text-align: center;
  padding-bottom: 3%;
}

.time {
  text-align: right;
}

.clients {
  padding-bottom: 2%;
}

#skill {
  padding: 3% 15%;
  background-color: #9df3c4;
  text-align: left;
}

.skillrow {
  margin: 2%;
}

#footer {
  background-color: #1fab89;
  color: #fff;
}

.pfooter {
  text-align: center;
  font-size: 0.8rem;
}

/* Return to top arrow BY rdallaire(modified) */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 45px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}
